- hosts: localhost
become: true
tasks:
- name: Install Docker
apt:
name: docker.io
state: present
update_cache: yes


- name: Install Docker Compose
apt:
name: docker-compose
state: present


- name: Start Docker
service:
name: docker
state: started
enabled: true
